<mat-card>
  <form
    autocomplete="off"
    [formGroup]="formData"
    (ngSubmit)="onSubmit()"
    class="container"
  >
    <img
      src="https://i.pinimg.com/originals/60/a9/61/60a96199afa8469b7c3c46810ed86816.png"
      alt="logo"
      width="40%"
    />
    <h1>Nuevo personaje</h1>
    <mat-form-field>
      <input
        type="text"
        required
        matInput
        placeholder="Nombre"
        formControlName="name"
      />
      <mat-error *ngIf="isValidField('name')">
        <p>
          {{ getErrorMessage("name") }}
        </p>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="text"
        required
        matInput
        placeholder="Poder"
        formControlName="power"
      />
      <mat-error *ngIf="isValidField('power')">
        {{ getErrorMessage("power") }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="text"
        required
        matInput
        placeholder="Imagen"
        formControlName="image"
      />
      <mat-error *ngIf="isValidField('image')">
        {{ getErrorMessage("image") }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select required placeholder="Raza" formControlName="race">
        <mat-option *ngFor="let race of races" [value]="race">
          {{ race.label }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="isValidField('race')">
        {{ getErrorMessage("race") }}
      </mat-error>
    </mat-form-field>
    <button
      [disabled]="formData.invalid"
      mat-flat-button
      color="primary"
      type="submit"
    >
      Guardar
    </button>
  </form>
</mat-card>
