.spacing {
  flex: 1 1 auto;
}
.container-buttons {
  margin: 32px;
  display: flex;
  flex-wrap: wrap;
}
.toolbar-small {
  position: sticky;
  top: 50px;
  height: 32px;
  background-color: black;
}

.toolbar-small span {
  font-size: 12px;
}
.logo {
  width: 33%;
  height: 52px;
  min-width: 250px;
  max-width: 550px;
  object-fit: contain;
}
