.root {
  margin: auto;
  width: 20%;
  min-width: 250px;
  display: block;
  margin: 2rem 1rem;
}
.container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
}
img {
  object-fit: contain;
  height: 250px;
}
mat-card-actions {
  display: flex;
  justify-content: space-around;
}
